# Auth service
AUTH_APP_PORT=
AUTH_POSTGRES_USER=
AUTH_POSTGRES_PASSWORD=
AUTH_POSTGRES_DB=
AUTH_POSTGRES_PORT=
AUTH_POSTGRES_SSLMODE=
AUTH_POSTGRES_TIMEZONE=
AUTH_DB_PORT=
AUTH_REDIS_PORT=

# Cards service
CARDS_APP_PORT=
CARDS_PORT=
CARDS_POSTGRES_USER=
CARDS_POSTGRES_PASSWORD=
CARDS_POSTGRES_DB=
CARDS_DB_PORT=
CARDS_DATABASE_URL=

# Shared API endpoint (Route53 -> shared ALB)
CARDS_SERVICE_BASE_URL=https://api.myapp.com

# Client service routing
USE_AWS_SERVICES=false
AUTH_SERVICE_HOST=127.0.0.1
AUTH_SERVICE_PORT=8081
CARDS_SERVICE_HOST=127.0.0.1
CARDS_SERVICE_PORT=8082
GAME_SERVER_SERVICE_HOST=127.0.0.1
GAME_SERVER_SERVICE_PORT=4000
AWS_AUTH_SERVICE_HOST=api.myapp.com
AWS_AUTH_SERVICE_PORT=443
AWS_CARDS_SERVICE_HOST=api.myapp.com
AWS_CARDS_SERVICE_PORT=443
