# Auth service
AUTH_APP_PORT=
AUTH_POSTGRES_USER=
AUTH_POSTGRES_PASSWORD=
AUTH_POSTGRES_DB=
AUTH_POSTGRES_PORT=
AUTH_POSTGRES_SSLMODE=
AUTH_POSTGRES_TIMEZONE=
AUTH_DB_PORT=
AUTH_REDIS_PORT=

# Cards service
CARDS_APP_PORT=
CARDS_PORT=
CARDS_POSTGRES_USER=
CARDS_POSTGRES_PASSWORD=
CARDS_POSTGRES_DB=
CARDS_DB_PORT=
CARDS_DATABASE_URL=
