GPT
main.exe
*.dll
*.pdb
.vscode/
build/

# Ignore environment variable files and certificate directories
.env
*.env
*certs/

# Ignore Terraform state files and plan files
*.tfstate
*.tfstate.backup
*.tfplan
*.terraform/
**/tf_outputs.json
**/tfplan.binary

# Ignore Terraform variables files that may contain sensitive information
*.tfvars
*.tfvars.json

# personal scripts
*.ps1