GPT
main.exe
*.dll
*.pdb
.vscode/
build/

# Ignore environment variable files and certificate directories
.env
*certs/

# Ignore Terraform state files and plan files
*.tfstate
*.tfstate.backup
*.tfplan
*.terraform/

# Ignore Terraform variables files that may contain sensitive information
*.tfvars
*.tfvars.json